body {
  padding: 0 0px;
  font-family: 'Roboto Condensed', sans-serif;
}

#mCSB_1_container > p{
	font-family: 'Roboto', sans-serif;
}

#mCSB_2_container{margin-right: 11px;}

#msg-btn{
	background-image: url('/images/paper-airplane-vector-paper_plane_light_blue.png');
	background-repeat:no-repeat;
	background-size: contain;
	background-position:center;
}

#chatbox{
	-webkit-transition: width .5s ease-in-out;
	transition: width .5s ease-in-out;
}
#ccu{
	-webkit-transition: width .5s ease-in-out;
	transition: width .5s ease-in-out;
}

a {
  color: #00B7FF;
}

.form-signin {
			max-width: 330px;
			padding: 15px;
			margin: 0 auto;
}

.form-signin .checkbox,
.form-signin .form-signin-heading {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type=email] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type=password] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

a#emoji-btn:focus {
    color: #00B7FF;
}
a#emoji-btn:hover {
    color: #00B7FF;
}
#mCSB_1_container > p > span:nth-child(2) > a:hover{
	color: #00B7FF;
}

/* custom emoji icon size */
.emojione{
	height: 1ex;
}